<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Cookie Orders</title>
</head>
<body>
    <div class="main-div">
        <div class="orders-main">
            <div class="header">
                <h1>Cookie Orders</h1>
            </div>
            <div class="middle-div spread-apart">
                <h3>All Orders:</h3>
                <a href="/new_order">+ New Order</a>
            </div>
            <div class="order-table-div">
                <table class="order-table">
                    <tr>
                        <th>Customer Name</th>
                        <th>Cookie Type</th>
                        <th>Number of Boxes</th>
                        <th>Actions</th>
                    </tr>
                    {% for order in orders %}
    
                    <tr>
                        <td>{{order.customer_name}}</td>
                        <td>{{order.cookie_type}}</td>
                        <td>{{order.number_of_boxes}}</td>
                        <td><a href="/edit_order/{{order.id}}">Edit</a></td>
                    </tr>
    
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>