<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Edit Ninja</title>
</head>
<body>
    <div class="main-div">
        <div class="main-block">
            <h1>Edit Ninja</h1>
            <form action="/update_ninja/{{ninja.id}}" method="POST">
                <div class="form-labels-and-inputs">
                    <div class="form-labels">
                        <label for="dojo">Dojo: </label>
                        <label for="first_name">First Name: </label>
                        <label for="last_name">Last Name: </label>
                        <label for="age">Age: </label>
                    </div>
                    <div class="form-inputs">
                        <select name="dojo" id="dojo">
                            {% for dojo in dojos %}

                                {% if dojo.id == ninja.dojo_id %}

                                <option value="{{dojo.id}}" selected>{{dojo.name}}</option>

                                {% else %}

                                <option value="{{dojo.id}}">{{dojo.name}}</option>

                                {% endif %}

                            {% endfor %}
                        </select>
                        <input type="text" name="first_name" value="{{ninja.first_name}}" required>
                        <input type="text" name="last_name" value="{{ninja.last_name}}" required>
                        <input type="number" name="age" value="{{ninja.age}}" min="0" required>
                    </div>
                </div>
                <input type="submit" value="Update">
            </form>
            <a href="/">home</a>
        </div>
    </div>
</body>
</html>