<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></linkrel>
    <title>Recipe Share</title>
</head>
<body>
    <h1>Edit Recipe!</h1>
    <a href="/"><button>back to recipes</button></a>
    <a href="/log_out"><button>logout</button></a>
    {% with messages = get_flashed_messages(category_filter=["recipe"]) %}
        
        {% if messages %}

            {% for message in messages %}

                <p style="color: red;">{{message}}</p>

            {% endfor %}

        {% endif %}

    {% endwith %}
    <form action="/update_recipe", method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{recipe.name}}">
        <br>
        <label for="description">Description</label>
        <br>
        <textarea name="description" cols="30" rows="5">{{recipe.description}}</textarea>
        <br>
        <label for="instructions">Instructions</label>
        <br>
        <textarea name="instructions" cols="30" rows="5">{{recipe.instructions}}</textarea>
        <br>
        <label for="date-cooked">Date cooked/made</label>
        <input type="date" name="date-cooked" value="{{recipe.date_cooked}}">
        <br>
        <label for="under-thirty">Under 30 minutes?</label>
        <br>
        <input type="radio" id="yes" name="under-thirty" value="yes" {% if recipe.under_thirty %} checked {% endif %}>
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="under-thirty" value="no" {% if not recipe.under_thirty %} checked {% endif %}>
        <label for="no">No</label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>