<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Ninja Gold</title>
</head>
<body>
    <div class="main-div">
        <div class="top-div">
            <p>Your Gold:</p>
            <div class="score-box">
                <p>{{session['gold']}}</p>
            </div>
        </div>
        <div class="middle-div">
            <div class="property-box">
                <div class="property-info">
                    <strong>Farm</strong>
                    <p>(earns 10-20 golds)</p>
                </div>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="property" value="farm">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="property-box">
                <div class="property-info">
                    <strong>Cave</strong>
                    <p>(earns 5-10 golds)</p>
                </div>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="property" value="cave">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="property-box">
                <div class="property-info">
                    <strong>House</strong>
                    <p>(earns 2-5 golds)</p>
                </div>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="property" value="house">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="property-box">
                <div class="property-info">
                    <strong>Casino</strong>
                    <p>(earns/takes 0-50 golds)</p>
                </div>
                <form action="/process_money" method="POST">
                    <input type="hidden" name="property" value="casino">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
        </div>
        <div class="bottom-div">
            <p>Activities:</p>
            <div class="activities-box">
                {% for line in session['activity_logs']: %}
                    {{line|safe}}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>